*{
    margin:0;/*indica espaço acima do elemento*/

    padding: 0;/*distancia entre o conteudo de um ele mento e as bordas*/

    box-sizing: border-box;/*calcular a largura e altura de um elemento considerando a borda e o prrenchimento interno*/

    color:rgb(141, 61, 8);

    background-color:rgb(247, 199, 78);

    text-decoration: none;/*remove o sublinhado da palavra*/
   
}


.interface{
    max-width: 1280px;/* defini largura maxima elemento*/

    margin: 0 auto;

    display:flex;/*organizar elementos em linhas ou colunas dentro do um container*/

    align-items: center;/*define o alinhamento de todos intes*/
    justify-content: space-between;
}
/*estilo do cabeçalho color é pra mudar a cor da letra, padding regula o tamanho do efeito*/
header a:hover{
    color:rgb(121, 91, 10);

    padding: 0px 4%;/*define a distancia entre o conteudo de um elemento e suas bordas*/

    transform: scale(1);/*modifica o espaço scale redimenciona os elementos velocidade*/

    background-color:rgb(98, 112, 112);

}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;/*define largura e altura,mantendo na mesma linha*/
    padding: 0 40px;
}
/*estilo do topo do site*/
section .topo-do-site{
    padding: 40px 4%;/*define a distancia entre o conteudo de um elemento e suas bordas*/

}
section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
}
.topo-do-site h1{
    color:rgb(120, 91, 10);
    font-size: 20px;
    line-height: 40px;
}
.logo{
    padding: 0px;
}
.livros{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;

}